/* Reset */

/* Base styles */

/* Fonts */

/* Mobile styles */

.container {
  width: 100%;
  height: 59px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #FFFFFF;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  stroke: #BFBEBF;
  color: #BFBEBF;
}

.label {
  font-family: SFProDisplay-Regular;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0px;
  color: inherit;
}

.label.selected {
  font-size: 10px;
}

/* Small tablet styles */

@media screen and (min-width: 620px) {}

/* Large tablet & laptop styles */

@media screen and (min-width: 960px) {}

/* Desktop styles */

@media screen and (min-width: 1200px) {}