/* Mobile styles */

.container {
  height: 48px;
  width: 336px;
  border-radius: 10px;
  background-color: var(--search-background-color);
  box-shadow: 5px 5px 80px rgba(212, 173, 134, 0.122623);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

input {
  width: 100%;
  height: 18px;
  font-family: SFProText-Bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  border: none;
  background-color: var(--search-background-color);
  outline: none;
  direction: ltr;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  font-family: SFProText-Regular;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--home-header-text-color);
}

:-ms-input-placeholder {
  font-family: SFProText-Regular;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--home-header-text-color);
}

::-ms-input-placeholder {
  font-family: SFProText-Regular;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--home-header-text-color);
}

/* Small tablet styles */

@media screen and (min-width: 620px) {}

/* Large tablet & laptop styles */

@media screen and (min-width: 960px) {}

/* Desktop styles */

@media screen and (min-width: 1200px) {}