.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background);
    width: 100%;
    min-height: 100vh;
    height: min-content;
    margin-bottom: 5rem;
}

.mainContainerSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    width: 100%;
    min-height: 100vh;
    height: min-content;
}

.userTitleContainer {
    display: flex;
    align-items: flex-end;
    width: 90%;
    height: 1.81rem;
    margin-top: 1.87rem;
    font-size: 1.5rem;
    color: var(--light-grey);
}

.videosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.userTitleName {
    margin-left: 0.2rem;
    color: var(--pastel-red);
}

.subTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    height: 1.31rem;
    margin-top: 1.87rem;
    font-size: 1.12rem;
    color: var(--grey);
}

.subTitleSecondText {
    color: var(--light-blue);
    font-size: 0.87rem;
}

.bookCardContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 8.68rem;
    overflow-x: auto;
    margin-top: 0.93rem;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 17rem;
    width: 17rem;
    min-height: 8.68rem;
    border-radius: 5px;
    background: #00173d;
    margin-left: 5%;
    background-image: url(../../assets/triangle.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.ovalCardImg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.triangleCardImg {
    position: absolute;
    top: 2.6%;
    right: 25%;
    z-index: 2;
}

.circleCardImg {
    position: absolute;
    top: 10.5%;
    right: 39.5%;
    z-index: 0;
}

.rectangleCardImg {
    position: absolute;
    right: 30%;
    bottom: 27%;
    z-index: 2;
}

.cardContentContainer {
    display: flex;
    width: 85%;
    height: 6.68rem;
    justify-content: space-between;
    z-index: 1;
}

.cardTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6.68rem;
}

.cardTitleContainer {
    color: var(--book-white);
}

.cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 36px;
}

.cardAuthor {
    font-size: 0.7rem;
    line-height: 16px;
    letter-spacing: 1.28px;
    color: var(--author-white);
}

.graphicTextContainer {
    display: flex;
    align-items: center;
    font-size: 0.62rem;
    color: var(--author-white);
}

.graphicImg {
    margin-right: 0.2rem;
}

.currentlyReadingContainer {
    margin-top: 1.87rem;
    width: 100%;
    height: 6.25rem;
}

.currentlyReadingInfoContainer {
    display: flex;
    align-items: center;
    width: 90%;
    height: 6.25rem;
    border-radius: 0px 3px 3px 0px;
    background: #eef5db;
    background-image: url(../../assets/circle.png), url(../../assets/Oval3.png), url(../../assets/rectangle.png);
    background-position: 62% -10%, 110% -60%, 107% 80%;
    background-repeat: no-repeat;
}

.currentlyReadingImg {
    margin-left: 1.25rem;
    width: 5.68rem;
    height: 8.5rem;
}

.currentlyReadingTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
    margin-left: 0.5rem;
}

.currentlyReadingBookTitle {
    color: #2a2b26;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 27px;
}

.currentlyReadingBookAuthor {
    color: #74776d;
    font-size: 0.62rem;
    line-height: 12px;
}

.currentlyReadingChaptersContainer {
    display: flex;
}

.currentlyReadingChaptersText {
    display: flex;
    font-size: 0.62rem;
    line-height: 12px;
}

.currentlyReadingChaptersNumber {
    color: #ff6978;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.thumbnailImg {
    display: flex;
    width: 90%;
}

.thumbnailContainer {
    margin-top: 0.93rem;
    width: 100%;
    border-radius: 5px;
}

@media (min-width: 900px) {
    .userTitleContainer{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .subTitleContainer {
        margin-top: 4rem;
        font-size: 1.4rem;
    }

    .subTitleSecondText {
        font-size: 1rem;
        transition: all 250ms ease;
    }

    .subTitleSecondText:hover {
        transform: scale(1.3);
        cursor: pointer;
        text-decoration: underline;
    }

    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background: var(--background);
        width: 100%;
        min-height: 100vh;
        height: min-content;
        margin-bottom: 5rem;
        margin-left: 4rem;
    }
    .bookCardContainer {
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;
        overflow: inherit;
        margin-top: 0.93rem;
    }
    .card {
        transition: all 250ms ease;
        margin-left: 0;
        margin-right: 3%;
    }

    .card:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .currentlyReadingContainer {
        margin-top: 1.87rem;
        width: 20%;
        justify-self: flex-start;
        height: 8rem;
        transition: all 250ms ease;
    }

    .currentlyReadingInfoContainer {
        height: 8rem;
    }

    .currentlyReadingContainer:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    .videosContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 94%;
        margin-top: 1.3rem;
    }

    .thumbnailImg {
        transition: all 250ms ease;
    }

    .thumbnailImg:hover {
        transform: scale(1.1);
        cursor: pointer;
        opacity: 90%;
    }
}
