/* Reset */

/* Base styles */

/* Fonts */

/* Mobile styles */

/* Small tablet styles */
@media screen and (min-width: 620px) {
  
}

/* Large tablet & laptop styles */
@media screen and (min-width: 960px) {
  
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
  
}