* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SFProText-Regular";
    src: url("/fonts/SFProText/SF-Pro-Text-Regular.otf");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "SFProText-Bold";
    src: url("/fonts/SFProText/SF-Pro-Text-Bold.otf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "SFProDisplay-Regular";
    src: url("/fonts/SFProDisplay/SF-Pro-Display-Regular.otf");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "SFProDisplay-Semibold";
    src: url("/fonts/SFProDisplay/SF-Pro-Display-Semibold.otf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "SFProDisplay-Bold";
    src: url("/fonts/SFProDisplay/SF-Pro-Display-Bold.otf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

:root {
    --background: #fdfcfc;
    --secundary: #f2f2f2;

    --highlight-pink: #ff6978;
    --highlight-blue: #4abdf1;

    --title-black: #36383a;
    --title-gray: #3f4043;
    --title-light-gray: #54565a;

    --decoration-blue: #00173d;
    --decoration-white: #e7e7e1;
    --decoration-pink: #ff6978;
    --decoration-yellow: #fcbc48;
    --decoration-purple: #451475;
    --decoration-green: #eef5db;
    --decoration-gray: #2a2b26;
    --decoration-beige: #fff6e5;
    --decoration-light-purple: #4550a7;

    --text-gray: #313131;

    --icon-black: #000000;
    --icon-disabled-gray: #bfbebf;
    --icon-gray: #cfcbd2;
    --icon-text-gray: #3f4043;
}

html {
    font-size: 10px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;

    color: var(--text-gray);
}

main {
    margin: 0 auto;

    width: 100%;
    max-width: 375px;
    height: 100vh;

    background: var(--background);
    padding-top: 60px;

    position: relative;
}

body,
input,
textarea,
button {
    font-family: "SFProText-Regular", sans-serif;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: "SFProText-Semibold", sans-serif;
    font-weight: 600;
}

button {
    cursor: pointer;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

a {
    color: inherit;
    text-decoration: none;
}
