
@font-face {
  font-family: 'SFProDisplay';
  src: local('SFProDisplay'), url(./fonts/FontsFree-Net-SFProDisplay-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 600;
  src: local('SFProDisplay Bold'), local('SFProDisplay-Bold') url(./fonts/FontsFree-Net-SFProDisplay-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 800;
  src: local('SFProDisplay Bolder'), local('SFProDisplay-Bolder') url(./fonts/FontsFree-Net-SFProDisplay-Heavy.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'SFProDisplay', serif;
  color: #54565A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


